.select {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  width: 150px;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 3.2rem;
  line-height: 3.2rem;
}
.select_disabled,
.select[disabled] {
  opacity: 0.6;
}
.select_multiple {
  min-height: 3.2rem;
  height: auto;
}
.select_placeholder {
  opacity: 0.5;
}
.select:hover {
  cursor: pointer;
}
.select__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 3.2rem;
  min-width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #dce4e9;
  color: #516673;
  border: solid 1px transparent;
  border-radius: 0.4rem;
}
.select__head:focus,
.select__head_focus {
  border-color: #2fb4e9;
}
.select__head::-webkit-scrollbar {
  display: none;
}
.select__head__text {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select__icon {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  margin-top: -0.8rem;
}
.select__icon-delete {
  right: 1.5em;
}
.select__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.select__values__title {
  margin: 0.4rem 0;
  color: #516673;
}
.select__values__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.select__values__list > div {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
itsk-select.ng-invalid .select__head {
  border-color: #ed5353;
}
.block-main.select__head,
.block-main .select__head {
  background: #2f5677;
  color: #fff;
  border: solid 1px transparent;
  border-radius: 0.4rem;
}
.block-main.select__head:focus,
.block-main .select__head:focus,
.block-main.select__head_focus,
.block-main .select__head_focus {
  border-color: #ff8424;
}
.block-main.select__values__title,
.block-main .select__values__title {
  color: #fff;
}
.block-main itsk-select.ng-invalid .select__head {
  border-color: #ffedef;
}
.block-work.select__head,
.block-work .select__head {
  background: #dce4e9;
  color: #516673;
  border: solid 1px transparent;
  border-radius: 0.4rem;
}
.block-work.select__head:focus,
.block-work .select__head:focus,
.block-work.select__head_focus,
.block-work .select__head_focus {
  border-color: #2fb4e9;
}
.block-work.select__values__title,
.block-work .select__values__title {
  color: #516673;
}
.block-work itsk-select.ng-invalid .select__head {
  border-color: #ed5353;
}
.options {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.options__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
}
.options__group:last-child {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}
.options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 1.2rem;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #667b8d;
  white-space: nowrap;
}
.options__item:hover {
  cursor: pointer;
}
.options__item_disabled {
  opacity: 0.5;
}
.options__item:focus,
.options__item_focus {
  border: solid 1px #2fb4e9;
}
.options__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 1.2rem;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #667b8d;
  white-space: nowrap;
}
.options_active {
  background-color: #e6e6e6;
}
.options__group {
  border-bottom: solid 1px #e0e9f0;
}
.options__group:last-child {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
.options__item {
  background: #fff;
  color: #667b8d;
}
.options__item:hover {
  background: #f2f2f2;
}
.options__item:active {
  background: #e6e6e6;
}
.options__item_active {
  background: #e6e6e6;
}
.options__item_disabled,
.options__item[disabled] {
  opacity: 0.6;
}
.options__item_disabled:hover,
.options__item[disabled]:hover {
  background: #fff;
}
.options__item_non-interactive:hover,
.options__item_disabled:hover {
  background-color: #fff;
}
.options__title {
  color: #667b8d;
}
.block-main.options,
.block-main .options {
  background-color: #1d3d59;
}
.block-main.options_active,
.block-main .options_active {
  background-color: #275177;
}
.block-main.options__group,
.block-main .options__group {
  border-bottom: solid 1px #1f507a;
}
.block-main.options__group:last-child,
.block-main .options__group:last-child {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
.block-main.options__item,
.block-main .options__item {
  background: #1d3d59;
  color: #b6c0d5;
}
.block-main.options__item:hover,
.block-main .options__item:hover {
  background: #224768;
}
.block-main.options__item:active,
.block-main .options__item:active {
  background: #275177;
}
.block-main.options__item_active,
.block-main .options__item_active {
  background: #275177;
}
.block-main.options__item_disabled,
.block-main .options__item_disabled,
.block-main.options__item[disabled],
.block-main .options__item[disabled] {
  opacity: 0.6;
}
.block-main.options__item_disabled:hover,
.block-main .options__item_disabled:hover,
.block-main.options__item[disabled]:hover,
.block-main .options__item[disabled]:hover {
  background: #1d3d59;
}
.block-main.options__item_non-interactive:hover,
.block-main .options__item_non-interactive:hover,
.block-main.options__item_disabled:hover,
.block-main .options__item_disabled:hover {
  background-color: #1d3d59;
}
.block-main.options__title,
.block-main .options__title {
  color: #b6c0d5;
}
.block-work.options,
.block-work .options {
  background-color: #fff;
}
.block-work.options_active,
.block-work .options_active {
  background-color: #e6e6e6;
}
.block-work.options__group,
.block-work .options__group {
  border-bottom: solid 1px #e0e9f0;
}
.block-work.options__group:last-child,
.block-work .options__group:last-child {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
.block-work.options__item,
.block-work .options__item {
  background: #fff;
  color: #667b8d;
}
.block-work.options__item:hover,
.block-work .options__item:hover {
  background: #f2f2f2;
}
.block-work.options__item:active,
.block-work .options__item:active {
  background: #e6e6e6;
}
.block-work.options__item_active,
.block-work .options__item_active {
  background: #e6e6e6;
}
.block-work.options__item_disabled,
.block-work .options__item_disabled,
.block-work.options__item[disabled],
.block-work .options__item[disabled] {
  opacity: 0.6;
}
.block-work.options__item_disabled:hover,
.block-work .options__item_disabled:hover,
.block-work.options__item[disabled]:hover,
.block-work .options__item[disabled]:hover {
  background: #fff;
}
.block-work.options__item_non-interactive:hover,
.block-work .options__item_non-interactive:hover,
.block-work.options__item_disabled:hover,
.block-work .options__item_disabled:hover {
  background-color: #fff;
}
.block-work.options__title,
.block-work .options__title {
  color: #667b8d;
}
select {
  padding: 0 1.2rem;
  min-height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.4rem;
  background: #dce4e9;
  color: #516673;
  border: solid 1px transparent;
  border-radius: 0.4rem;
}
select:focus,
select_focus {
  border-color: #2fb4e9;
}
select:hover {
  cursor: pointer;
}
select.block-main,
.block-main__select,
.block-main select {
  background: #2f5677;
  color: #fff;
  border: solid 1px transparent;
  border-radius: 0.4rem;
}
select.block-main:focus,
.block-main__select:focus,
.block-main select:focus,
select.block-main_focus,
.block-main__select_focus,
.block-main select_focus {
  border-color: #ff8424;
}
select.block-work,
.block-work__select,
.block-work select {
  background: #dce4e9;
  color: #516673;
  border: solid 1px transparent;
  border-radius: 0.4rem;
}
select.block-work:focus,
.block-work__select:focus,
.block-work select:focus,
select.block-work_focus,
.block-work__select_focus,
.block-work select_focus {
  border-color: #2fb4e9;
}
option {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
option__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
}
option__group:last-child {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}
option__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 1.2rem;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #667b8d;
  white-space: nowrap;
}
option__item:hover {
  cursor: pointer;
}
option__item_disabled {
  opacity: 0.5;
}
option__item:focus,
option__item_focus {
  border: solid 1px #2fb4e9;
}
option__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 1.2rem;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #667b8d;
  white-space: nowrap;
}
option_active {
  background-color: #e6e6e6;
}
option__group {
  border-bottom: solid 1px #e0e9f0;
}
option__group:last-child {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
option__item {
  background: #fff;
  color: #667b8d;
}
option__item:hover {
  background: #f2f2f2;
}
option__item:active {
  background: #e6e6e6;
}
option__item_active {
  background: #e6e6e6;
}
option__item_disabled,
option__item[disabled] {
  opacity: 0.6;
}
option__item_disabled:hover,
option__item[disabled]:hover {
  background: #fff;
}
option__item_non-interactive:hover,
option__item_disabled:hover {
  background-color: #fff;
}
option__title {
  color: #667b8d;
}
option.block-main,
.block-main__option,
.block-main option {
  background-color: #1d3d59;
}
option.block-main_active,
.block-main__option_active,
.block-main option_active {
  background-color: #275177;
}
option.block-main__group,
.block-main__option__group,
.block-main option__group {
  border-bottom: solid 1px #1f507a;
}
option.block-main__group:last-child,
.block-main__option__group:last-child,
.block-main option__group:last-child {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
option.block-main__item,
.block-main__option__item,
.block-main option__item {
  background: #1d3d59;
  color: #b6c0d5;
}
option.block-main__item:hover,
.block-main__option__item:hover,
.block-main option__item:hover {
  background: #224768;
}
option.block-main__item:active,
.block-main__option__item:active,
.block-main option__item:active {
  background: #275177;
}
option.block-main__item_active,
.block-main__option__item_active,
.block-main option__item_active {
  background: #275177;
}
option.block-main__item_disabled,
.block-main__option__item_disabled,
.block-main option__item_disabled,
option.block-main__item[disabled],
.block-main__option__item[disabled],
.block-main option__item[disabled] {
  opacity: 0.6;
}
option.block-main__item_disabled:hover,
.block-main__option__item_disabled:hover,
.block-main option__item_disabled:hover,
option.block-main__item[disabled]:hover,
.block-main__option__item[disabled]:hover,
.block-main option__item[disabled]:hover {
  background: #1d3d59;
}
option.block-main__item_non-interactive:hover,
.block-main__option__item_non-interactive:hover,
.block-main option__item_non-interactive:hover,
option.block-main__item_disabled:hover,
.block-main__option__item_disabled:hover,
.block-main option__item_disabled:hover {
  background-color: #1d3d59;
}
option.block-main__title,
.block-main__option__title,
.block-main option__title {
  color: #b6c0d5;
}
option.block-work,
.block-work__option,
.block-work option {
  background-color: #fff;
}
option.block-work_active,
.block-work__option_active,
.block-work option_active {
  background-color: #e6e6e6;
}
option.block-work__group,
.block-work__option__group,
.block-work option__group {
  border-bottom: solid 1px #e0e9f0;
}
option.block-work__group:last-child,
.block-work__option__group:last-child,
.block-work option__group:last-child {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
option.block-work__item,
.block-work__option__item,
.block-work option__item {
  background: #fff;
  color: #667b8d;
}
option.block-work__item:hover,
.block-work__option__item:hover,
.block-work option__item:hover {
  background: #f2f2f2;
}
option.block-work__item:active,
.block-work__option__item:active,
.block-work option__item:active {
  background: #e6e6e6;
}
option.block-work__item_active,
.block-work__option__item_active,
.block-work option__item_active {
  background: #e6e6e6;
}
option.block-work__item_disabled,
.block-work__option__item_disabled,
.block-work option__item_disabled,
option.block-work__item[disabled],
.block-work__option__item[disabled],
.block-work option__item[disabled] {
  opacity: 0.6;
}
option.block-work__item_disabled:hover,
.block-work__option__item_disabled:hover,
.block-work option__item_disabled:hover,
option.block-work__item[disabled]:hover,
.block-work__option__item[disabled]:hover,
.block-work option__item[disabled]:hover {
  background: #fff;
}
option.block-work__item_non-interactive:hover,
.block-work__option__item_non-interactive:hover,
.block-work option__item_non-interactive:hover,
option.block-work__item_disabled:hover,
.block-work__option__item_disabled:hover,
.block-work option__item_disabled:hover {
  background-color: #fff;
}
option.block-work__title,
.block-work__option__title,
.block-work option__title {
  color: #667b8d;
}
